.doc-container{
    margin-left: 50px;
    margin-top: 20px;
}

.doc-name{
    font-size: 150%;
    color: #22588A;
}

.doc-relation-info-container{
    margin-top: 20px;
    margin-bottom: 20px;
}

.doc-relation-info-header{
    text-decoration: underline;
}